@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.nav-contem-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #ffffff;
}

.icones {
  display: flex;
  gap: 14px;
}

.icones a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #83D940;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-botao {
  border: solid 1px #ffffff;
  padding: 8px 24px;
  color: #ffffff;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.8s;
}

.header-botao:hover {
  background-color: #83D940;
  border: solid 1px #83D940;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .nav-contem-conteudo {
    width: 100%;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-logo img {
    width: 168px;
    margin-top: 20px;
  }
  .header-botao {
    display: none;
  }
  .icones i {
    margin-top: 15px;
    font-size: 30px;
  }
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0.8;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 16, 38, 0.1), #06121e), url("Imagem/bg-home.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.hero {
  color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 960px;
  font-size: 40px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}
.hero .botao-especial {
  padding: 14px 28px;
  border: 0;
  color: #ffffff;
  background-color: #83D940;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  margin: 14px 0;
}
.hero .botao-especial:hover {
  animation: animacaoBotao 0.8s alternate infinite;
}
@keyframes animacaoBotao {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero .hero {
    min-width: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero h1 {
    font-size: 24px;
  }
}

.sobre {
  background-color: #06121E;
  overflow: hidden;
  color: #ffffff;
  display: flex; /* Adicione esta linha para tornar o conteúdo lado a lado */
}

.sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 14px 14px 64px 14px;
}

img {
  max-width: 590px;
}

.descricao-sobre div {
  flex: 1;
}

.descricao-sobre h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.descricao-sobre p {
  margin-bottom: 14px;
  font-weight: 150%;
}

@media screen and (max-width: 768px) {
  .sobre-conteudo {
    flex-direction: column;
  }
}
.servicos {
  background-color: #ffffff;
  color: #090d11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 54px 14px;
}

.servicos-conteudo h2 {
  text-transform: uppercase;
  align-items: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.servicos-conteudo p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.servicos {
  flex: 1;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121E;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */