header{
    width: 100%;

}

.nav-contem-conteudo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

i
{
    color: $white-normal;
}
.icones
{
    display: flex;

    gap: 14px;
    
}

.icones a:hover
{
i
{
  animation:translateY 0.8s infinite alternate ;
    color: $grenn-light;
}

}

    @keyframes translateY{
        from{
       transform: translateY(0) scale(1);
        }
        to{
            transform: translateY(-8px) scale(1.1);
        }
    }

 

.header-botao{
    border:  solid 1px $white-normal;
    padding: 8px 24px;
    color: $white-normal;
    border-radius:  4px;
    background-color: transparent;
    transition: 0.8s;
}
.header-botao:hover
{
    background-color: $grenn-light;
    border:  solid 1px $grenn-light;
}

.header-logo
{
display: flex;
align-items: center;
justify-content: center;
margin-top: 14px;
}

@media screen and (max-width: 768px) {
     
    .nav-contem-conteudo
    {
        width: 100%;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .header-logo img
      {
        width: 168px;
        margin-top: 20px;
      }
    .header-botao{
        display: none;
    }
   .icones i {
    margin-top: 15px;
    font-size: 30px;
}
}