.container{
    max-width: 1240px;
    margin:0 auto;
    padding: 0.8;
   
}

.bg-home{
    position: relative;
}
.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6,16,38,0.1),#06121e), url('Imagem/bg-home.png');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.hero
{
    color:  $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;

    h1{
     text-align: center;
        line-height: 150%;
        max-width: 960px ;
        font-size: 40px;
    }
    p{
        text-align: center;
        margin: 14px 0;
    }

    .botao-especial{
     padding: 14px 28px;
       border: 0;
        color: $white-normal;
        background-color: $grenn-light;
        font-size: 18px;
        font-weight: 600;
        border-radius: 6px;
        margin: 14px 0;
    }
    .botao-especial:hover{
        animation: animacaoBotao 0.8s alternate infinite
    }

    @keyframes animacaoBotao {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.07);
        }
        
    }

    @media screen and (max-width: 768px) {

        .hero{
            min-width:  60vh;
        }
        h1
        {
            font-size: 34px;
            padding: 0 14px;
            width: 100%;
        }
        p{ 
            font-size: 14px;
        }
        
    }

    @media screen and (max-width: 768px) 
    {

        .hero h1
        {
           font-size: 24px;       
        }
   }


}
.sobre {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
    display: flex; /* Adicione esta linha para tornar o conteúdo lado a lado */
  }
  
  .sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 14px 14px 64px 14px ;
  }
  
  img {
    max-width: 590px;
  }
  
  .descricao-sobre div
  {
    flex: 1;
  }
  .descricao-sobre{
h2{
    font-size: 38px;
    margin-bottom: 24px;

}
p{
    margin-bottom: 14px;
    font-weight: 150%;
}
  }
  @media screen and (max-width: 768px) 
{
.sobre-conteudo{
    flex-direction: column;
}
}
  
